{% extends 'shop/basic.html' %}

{% block title%} View Page {% endblock %}
{% block alert %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Holla Welcome!</strong> YOU ARE MOST WELCOME TO YOUR OWN STORE
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endblock %}
{% block css %}
    <style>
        .col-md-3, col-xs-3, col-sm-3 {
        display: inline-block;
        display: inline-block;
        margin-left: 19px;
        margin-right: -157px;
        padding-right: 0px;
        padding-left: 4px;
        }

        .my-4{
        padding: 148px, 10px, 10px, 10px;
        }

        .col-md-3 img{
        padding-left: 4px;
        width:200px;
        height:130px;

        }

        .carousel-item{

        }

        body .carousel-indicator li{
        background-color: blue;
        }

        body .carousel-control-prev-icon,
        body .carousel-control-next-icon{
        background-color: red;
        padding-left: 0px;
        padding-right: 0px;
        }

        .carousel-indicators .active{
        background-color: blue;
        }

        .btn{
        padding: 0px;
        }

        body .carousel-indicators{
        bottom: 0px;
        }
        .carousel-control-next, .carousel-control-prev {
        position: absolute;
        width: auto;
        }

       .btn-primary:hover{
        color:#fff;
        background-color:rgba(40, 219, 0, 1);
        }

        body .no-padding{
        padding-left: 8px;
        padding-right: 0px;
        }

        .carousel slide{
        padding-top: 50px;
        }




    </style>
{% endblock %}

{% block body %}
{% load static %}

    <!--  Slideshow starts here -->

{% for product, range, NSlides in allprods %}
<h4 class="my-4"> {{product.0.category}} A-Must Buy For You </h4>
<!--<div class="row">-->
<div id="demo{{forloop.counter}}" class=" carousel slide my-4" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>
        {% for i in range %}
        <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}"></li>
        {% endfor %}
    </ul>


    <div class="carousel-inner">
        <div class="carousel-item active">



    {% for i in product %}
    <div class="col-xs-3 col-sm-3 col-md-3">
        <div class="card" style="width: 14rem;">
            <img src='/media/{{i.image}}'  class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{i.product_name}}</h5>
                <p class="card-text">{{i.desc|slice:"0:32"}}....</p>
                <button id="pr{{i.id}}" class="btn btn-primary cart">ADD To Cart</button>
                <a href="/shop/productview/{{i.id}}"><button id="qv{{i.id}}" class="btn btn-primary cart">Quick View</button></a>
            </div>
        </div>
    </div>

    {% if forloop.counter|divisibleby:6 and forloop.counter > 0 and not forloop.last %}
    </div><div class="carousel-item">
    {% endif %}

    {% endfor %}
    </div>
    </div>


<!-- left and right controls for slide -->
<a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
</a>
<a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
    <span class="carousel-control-next-icon"></span>
</a>
</div>
   <!-- </div> -->
    {% endfor %}

{% endblock %}


