{% extends 'shop/basic.html' %}

{% block title%} track {% endblock %}

{% block alert %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Holla Welcome!</strong> TRACK YOUR PRODUCT AND BE HASSLE FREE
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endblock %}

{% block body %}
This Page can TRACK your Order That You have recently buyed from our store <br>
........<br>
For Now it is under Development SO please wait till that.......
{% endblock %}